<div class='wrapper-fixed'>
    <nav>
        <div class='go-back-container'>
            <a class='go-back' href='/weeks/'>Go Back</a>
        </div>
    </nav>

    <div class='space-around'>
        <h1 class='half-width'>Edit {{week.name}}</h1>
        <img class='meal-image' src={{week.img}}>
    </div>

    <form action='/weeks/{{week._id}}?_method=DELETE' method='POST'>
        <div class='space-around'><input class='delete' type='submit' value='DELETE this Week'></div>
    </form>

    <main>
        <form action='/weeks/{{week._id}}?_method=PUT' method='POST'>
            <div class='space-around'>Name: <input type='text' name='name' value='{{week.name}}'></div>
            <div >Image: <input type='text' name='img' value='{{week.img}}'></div>

                  <div class='new-meal-img-grid'>
                        {{#each image}}
                        <div>
                            <div>
                                <input type="radio" name="img" value='{{this.src}}'>
                            </div>
                            <div><img class='thumbnail' src='{{this.src}}'></div>
                        </div>
                        {{/each}}
                    </div>

            <div class='semicircle-bottom'><input class='input' type='submit' value='Update Week'></div>
        </form>
    </main>

</div>