<h1>{{week.name}}</h1>

<div><a href='/weeks/{{week._id}}/meals/new'>Add a Meal to this Week</a></div>
<br>
<div>
    {{#each week.meals}}
    <div>
       <div>{{this.name}}</div>
       <img src='{{../week.img}}' href='/weeks/{{../week._id}}/meals/{{this._id}}'>View this Meal</img>
       </div>
    {{/each}}
</div>
<br>



<br>
 <div><a href='/weeks/{{week._id}}/edit'>Edit this Week</a></div>
<div>
    <a href='/weeks'>Back to Main</a>
</div>