<div class='site-wrapper-side'>
    <header>
        <div class='semicircle-side'>
            <div class='side-text'>{{week.name}}</div>
        </div>
    </header>

    <main class='side-main'>

        <div class='go-back-container'>
            <a class='go-back' href='/weeks/'>Back to Main</a>
        </div>

        <div class='img-list-container'>
            <img class='meal-image' src='{{week.img}}'>
            <a class='shoppinglist' href='/weeks/{{week._id}}/list/'>
                <div>View</div>
                <div>Shopping</div>
                <div>List</div>
            </a>
        </div>

        <div>
            {{#each week.meals}}
            <div class='week-meal-list'>
                <a href='/weeks/{{../week._id}}/meals/{{this._id}}'>
                    <p class='meal-title'>{{this.name}}</p>
                </a>
                <p class='meal-description'>{{this.description}}</p>
            </div>
            {{/each}}
        </div>

        <div class='space-around'>
            <a class='alt-button' href='/weeks/{{week._id}}/meals/new'>Add New Meal</a>
        </div>

        <footer class='lil-space'>
            <a class='no-going-back' href='/weeks/{{week._id}}/edit'>Edit this Week</a>
        </footer>
    </main>
</div>