<div class='site-wrapper-side'>
    <header>
        <div class='semicircle-side'>
            <div class='side-text'>{{week.name}}</div>
        </div>
    </header>

    <main class='side-main'>

        <div class='go-back-container'>
            <a class='go-back' href='/weeks/'>Go Back</a>
        </div>

        <div>
            <img class='meal-image' src='{{week.img}}'>
        </div>

        <div>
            <a href='>/weeks/{{week._id}}/edit'>
        </div>

        <div class='week-main'>
            {{#each week.meals}}
            <div>
                <a class='meal-title' href='/weeks/{{../week._id}}/meals/{{this._id}}'>
                    <div class=>{{this.name}}</div>
                </a>
                <div class=>{{this.description}}</div>

            </div>
            {{/each}}
        </div>

        <div class='add-week'>
            <a class='add-week-inside' href='/weeks/{{week._id}}/meals/new'>Add a Meal</a>
        </div>

        <footer class='week-footer'>
            <a href='/weeks/{{week._id}}/edit'>Edit this Week</a>
        </footer>
    </main>
</div>