<div class='site-wrapper-side'>
    <header>
        <div class='semicircle-side'>
            <div class='side-text'>{{week.name}}</div>
        </div>
    </header>

    <main class='side-main'>
        <div class='go-back-container'>
            <a class='go-back' href='/weeks/'>Back to Main</a>
        </div>
        <div 'img-list-container'>
            <div>
                <img class='meal-image' src='{{week.img}}'>
            </div>
            <div class='add-week'>
                <div><a class='alt-button' href='/weeks/{{week._id}}/meals/new'>Add a Meal</a></div>
                <div><a class='alt-button' href='/weeks/{{week._id}}/list/'>Shopping List</a></div>
            </div>
        </div>

        <div >
            {{#each week.meals}}
            <div class='week-meal-list'>
                <a href='/weeks/{{../week._id}}/meals/{{this._id}}'>
                    <p class='meal-title'>{{this.name}}</p>
                </a>
                <p class='meal-description'>{{this.description}}</p>
            </div>
            {{/each}}
        </div>

        <footer class='lil-space'>
            <a class='no-going-back' href='/weeks/{{week._id}}/edit'>Edit this Week</a>
        </footer>
    </main>
</div>