<div class='wrapper-fixed'>
    <nav>
        <div class='go-back-container'>
            <a class='go-back' href='/weeks/{{week._id}}/meals/{{meal._id}}/'>Go Back</a>
        </div>
    </nav>

    <header>
        <h1>Edit</h1>
        <h1 class='half-width'>{{meal.name}}</h1>
    </header>

    <div class='space-around'>
        <form action='/weeks/{{week._id}}/meals/{{meal._id}}?_method=PUT' method='POST'>
            <div>Name: <input type='text' name='name' value='{{meal.name}}'><input class='dark-submit' type='submit' value='Update'></div>
            <div class='tiny-div'></div>
            <div>Description: <input type='text' name='description' value='{{meal.description}}'><input class='dark-submit' type='submit' value='Update'></div>
        </form>

        <div class='transparent'>
            {{#each meal.items}}
            <div>
                <form action='/weeks/{{../week._id}}/meals/{{../meal._id}}/items/{{this._id}}?_method=DELETE' method='POST'>
                    <div>{{this.quantity}} {{this.unit}} {{name}} <input type='submit' value='REMOVE'></div>
                </form>
            </div>
            {{/each}}
        </div>

        <div>
            <form action='/weeks/{{week._id}}/meals/{{meal._id}}?_method=DELETE' method='POST'>
                <div><input class='delete' type='submit' value='DELETE Meal'></div>
            </form>
        </div>
    </div>

    <div class='semicircle-bottom'>
        <a class='input' href='/weeks/{{week._id}}/meals/{{meal._id}}/items/new'>Add Ingredient</a>
    </div>

</div>