<h1>Edit {{meal.name}}</h1>

<form action='/weeks/{{week._id}}/meals/{{meal._id}}?_method=PUT' method='POST'>
<div>Name: <input type='text' name='name' value='{{meal.name}}'></div>
<div><input type='submit' value='Update Meal'></div>
</form>
<br>
<form action='/weeks/{{week._id}}/meals/{{meal._id}}?_method=DELETE' method='POST'>
<div><input type='submit' value='DELETE Meal'></div>
</form>
<br>
<a href='/weeks/'>Back to Main</a>