<div class='wrapper-fixed'>
    <div class='go-back-container'>
        <a class='go-back' href='/weeks/{{week._id}}/'>Go Back</a>
    </div>

    <main>
        <h1 class='half-width'>{{meal.name}}</h1>
        <div class='text' >{{meal.description}}</div>
        <div class='transparent'>
            {{#each meal.items}}
            <div>{{this.quantity}} {{this.unit}} {{name}}</div>
            {{/each}}
        </div>
    </main>

    <div class='add-week'>
        <a class='add-week-inside' href='/weeks/{{week._id}}/meals/{{meal._id}}/edit'>Add Ingredients or Edit</a>
        </div>
</div>