<div class='site-wrapper'>

<h1>Meal: {{meal.name}}</h1>
<p> Ingredients:</p>
<div>
    {{#each meal.items}}
        <div>{{this.quantity}} {{this.unit}} {{name}}</div>
    {{/each}}
</div>
<br>


<br>
<div><a href='/weeks/{{week._id}}/meals/{{meal._id}}/edit'>Edit this Meal</a></div>
</div>

