
<h1>Meal: {{meal.name}}</h1>
<p> Ingredients:</p>
<div>
    {{#each meal.items}}
        <div>{{this.quantity}} {{this.unit}} - {{this.name}}</div>
    {{/each}}
</div>
<br>
<div><a href='meals/{{meal.id}}/items/new'>Add an Ingredient!</a></div>
<br>
<div><a href='meals/edit'>Edit this Meal</a></div>